.counter_wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: auto;
    height: 130px;
    margin: 0 auto;
    margin-top: 20px;

    border-radius: 5px 5px 0 0;
    background: rgba(22, 95, 125, .21);
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .25);
}

.simple_number {
    font-family: Roboto;
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    line-height: 169px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    text-align: center;

    color: rgba(255, 255, 255, .75);
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.end_number {
    font-size: 145px;

    color: #2AC7EA;
}

.error {
    font-size: 30px;

    color: #cf1f1f;
}

.help_message {
    font-size: 30px;
}
